In [1]:
print("hello world")

hello world

In [2]:
print("My name is Rafayel",24,"I am using separator")

My name is Rafayel 24 I am using separator

In [3]:
print("My name is Rafayel",24,"I am using separator",sep="---+---")
# what ever i write in sepatator it will be used to separate.By default it is ' '.

My name is Rafayel---+---24---+---I am using separator

In [4]:
print('hello')
print()

hello

In [5]:
print('hello',end='-')
print('world')

hello-world

In [6]:
print(type('hello'))

<class 'str'>

In [7]:
type('hi')

str

# Dynamic binding and typing

In [8]:
a=5
print(a)
a='shium'
print(a)
# i can put any type of variable . i do not need to change data type of variable.
# in dynamic typing datatype is dependent on value of variable. For example- int a=5 . this is static typing

5
shium

In [9]:
a=5
b=1
c=6
print(a,b,c)

5 1 6

In [10]:
a,b,c=5,1,6
print(a,b,c)

5 1 6

In [11]:
a=b=c=5
print(a,b,c)

5 5 5

In [15]:
a=input('Enter your name: ')
print(a)

Enter your name: rafayel
rafayel

In [16]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [17]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string