<a href="https://colab.research.google.com/github/rafayel404/Python/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here
# I actually don't know how tax system works. Whatever ctc is cut after tax deduction or on total, i assumed on total.

salary= int(input('Enter salary in lakhs: '))
ctc_da_pf=.18

if salary <= 5:

  salary=salary-salary*ctc_da_pf

elif salary <= 10:

  tax = 0.1
  ctc_da_pf_with_tax=.18 +tax
  salary=salary-salary* ctc_da_pf_with_tax

elif salary <= 20:
  tax = 0.2
  ctc_da_pf_with_tax=.18+tax
  salary=salary-salary* ctc_da_pf_with_tax
else:
  tax = 0.3
  ctc_da_pf_with_tax=.18+tax
  salary=salary-salary* ctc_da_pf_with_tax


print('In hand salary is : ',salary)

Enter salary in lakhs: 20
In hand salary is :  12.4

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
a=int(input('Enter first angle: '))
b=int(input('Enter second angle: '))
c=int(input('Enter third angle: '))

if a+b+c == 180:
  print('It can form a triangle')
else:
  print('Can not form triangle')

Enter first angle: 90
Enter second angle: 45
Enter third angle: 45
It can form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
c=int(input("Enter cost: "))
s=int(input("Enter sell: "))

if c>s:
  print('Loss')
else:
  print('Profit')

Enter cost: 10
Enter sell: 9
Loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
while True:
  print("\n")
  print("1. cm to ft")
  print("2. km to miles")
  print("3. USD to INR")
  print("4. exit")

  a=int(input("Select Option: "))
  if a==1:
    cm=int(input("Enter cm: "))
    ft=cm/30.48
    print(ft)
  elif a==2:
    km=int(input("Enter km: "))
    miles=km/1.609
    print(miles)
  elif a==3:
    usd=int(input("Enter usd: "))
    inr=usd*83.88
    print(inr)

  elif a==4:
    break
  else:
    print("Invalid Option")

1. cm to ft
2. km to miles
3. USD to INR
4. exit
Select Option: 3
Enter usd: 10
838.8


1. cm to ft
2. km to miles
3. USD to INR
4. exit
Select Option: 4

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
n_terms = 10
a, b = 0, 1

for i in range(n_terms):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here

number =int(input("Enter number: "))
factorial = 1
for i in range(1, number + 1):
    factorial *= i

print(f"The factorial of {number} is {factorial}")

Enter number: 5
The factorial of 5 is 120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here

num=int(input('Enter number: '))
reverse = 0
while num > 0:
    remainder = num % 10
    reverse = (reverse * 10) + remainder
    num = num // 10

print(f"The reversed number is {reverse}")

Enter number: 1234
The reversed number is 4321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here

N = int(input("Enter an integer N: "))
total_sum = 0
i = 1
while i <= N:
  if i % 5 == 0:
    i += 1
    continue
  if total_sum + i > 300:
    break
  total_sum += i
  i += 1

print(f"The final sum is {total_sum}")

Enter an integer N: 30
The final sum is 276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
total_sum = 0
count = 0
while True:
  print('\nTo stop enter 0. To continue Enter numbers\n')
  number = int(input("Enter a number: "))
  if number == 0:
    break
  total_sum += number
  count += 1

if count == 0:
  print("No numbers were entered.")
else:
  average = total_sum / count
  print(f"Sum of numbers: {total_sum}")
  print(f"Average of numbers: {average}")

To stop enter 0. To continue Enter numbers

Enter a number: 5

To stop enter 0. To continue Enter numbers

Enter a number: 5

To stop enter 0. To continue Enter numbers

Enter a number: 5

To stop enter 0. To continue Enter numbers

Enter a number: 0
Sum of numbers: 15
Average of numbers: 5.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code
# Write code here
num = int(input('enter the num'))

flag = True
for i in range(2,num):
  if num%i == 0:
    flag = False
    break

if flag == True:
  print('Prime')
else:
  print('Not Prime')

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [1]:
# Write code here
# Write code here
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

for num in range(start, end+1):
    temp = num
    sum = 0
    order = len(str(num))
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    if num == sum:
        print(num)

Enter the start of the range: 500
Enter the end of the range: 1000

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here
H=int(input("Enter hour: "))
M=int(input("Enter Minute: "))

angle=abs(30*(H+(M/60))-(M*6))
if angle >180:
  print(360-angle)
else:
   print(angle)

Enter hour: 9
Enter Minute: 0
90.0

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here
r1=int(input('Enter First rectangle r1: '))
l1=int(input('Enter First rectangle l1: '))
r2=int(input('Enter Second rectangle  r2: '))
l2=int(input('Enter Second rectangle l2: '))

if r2>2*r1 or l2>2* l1:
  print("Rectangles will not overlap.")

else:
  print("Overlaped")

Enter First rectangle r1: 5
Enter First rectangle l1: 3
Enter Second rectangle  r2: 11
Enter Second rectangle l2: 5
Rectangles will not overlap.