# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [3]:
# Write your code here
print("Data","Science", "Mentorship" ,"Program" ,
"By", "CampusX",sep='-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [5]:
# Write your code here
x=float(input('Give Censius :'))
y=(x*9/5)+32
print('Fahrenheit : ',y)

Give Censius :10
Fahrenheit :  50.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [6]:
# Write your code here
x=int(input('Give First number :'))
y=int(input('Give Second number :'))
temp=x
x=y
y=temp
print('After swap:\n',x,y)

Give First number :10
Give Second number :20
After swap:
 20 10

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [8]:
# Write your code
import math
x1=int(input('Give x1 :'))
y1=int(input('Give y1 :'))
x2=int(input('Give x2 :'))
y2=int(input('Give y2 :'))
distance=math.sqrt((x2-x1)**2+(y2-y1)**2)

print(distance)

Give x1 :0
Give y1 :0
Give x2 :2
Give y2 :2
2.8284271247461903

0### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [9]:
# Write your code here
p=int(input('Principle :'))
r=int(input('Rate of interest :'))
n=int(input('Time:'))
r=float(r/100)
I=p*n*r
print("Interest is",I)

Principle :100
Rate of interest :10
Time:1
Interest is 10.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [17]:
# Write your code here
h=int(input('Number of Heads :'))
l=int(input('Number of Legs :'))
dog=(l-2*h)/2
chicken=h-dog
print('Dog & chickens are: ',int(dog),int(chicken))

Number of Heads :4
Number of Legs :12
Dog & chickens are:  2 2

12### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [15]:
# Write your code here
n=int(input('Give number :'))
sum=n*(n+1)/2
print(sum)

Give number :5
15.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [14]:
# Write your code here
a1=int(input('First term : '))
a2=int(input('Second term : '))
n=int(input('Which term? :'))
d=a2-a1
an=a1+(n-1)*d
print(f'{n}th term is ',an)

First term : 3
Second term : 6
Which term? :5
5th term is  15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [13]:
# Write your code here
n1=int(input('Numerator1: '))
d1=int(input('Denominator1: '))
n2=int(input('Numerator2: ' ))
d2=int(input('Denominator2: '))
n=n1*d2+n2*d1
d=d1*d2
print(n/d)

Numerator1: 1
Denominator1: 2
Numerator2: 1
Denominator2: 2
1.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [11]:
Tank_H=int(input('Height of tank:'))
Tank_L=int(input('Length of tank:'))
Tank_B=int(input('Breadth of tank:'))
Glass_H=int(input('Height of glass:'))
Glass_R=int(input('Radius of glass:'))
Volume_of_tank=Tank_H*Tank_L*Tank_B
Volume_of_glass=3.14*Glass_R**2*Glass_H
No_of_glass=Volume_of_tank/Volume_of_glass
print(No_of_glass)

Height of tank:20
Length of tank:20
Breadth of tank:20
Height of glass:3
Radius of glass:2
212.31422505307856